@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: url('../Assets/background.jpg') no-repeat;
}

nav div {
    display: flex;
    align-items: center;
}

nav div img {
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

nav div span {
    color: white;
    font-size: 30px;
}

nav button {
    color: white;
    background-color: rgb(66, 103, 158);
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 30px;
}

body {
    background: url('../Assets/background.jpg') no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.project-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-form h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"],
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2a5286;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #b3852f;
  }
  