@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: url('../Assets/background.jpg') no-repeat;
}

nav div {
    display: flex;
    align-items: center;
}

nav div img {
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

nav div span {
    color: white;
    font-size: 30px;
}

nav button {
    color: white;
    background-color: rgb(66, 103, 158);
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 30px;
}


body {
    background: url('../Assets/background.jpg') no-repeat;
    font-family: 'Poppins', sans-serif;
}

.project-form {
    color: #ffffff;
    max-width: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(80px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .5);
    margin: 0 auto;
    padding: 50px;
    border-radius: 30px;
    
  }
  
  .project-form h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .form-group label {
    
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"],
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid #169ab1;
  }
  
  .form-group textarea {
    color: #000000;
    resize: vertical;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #2a5286;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1294ff;
  }
    
  .Project-list h1 {
    color: white;
}


  .Project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    padding: 70px;
}


.Project-list div {
    background-color: #f8f9fa;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 20px;
    width: calc(30% - 90px);
    
}
  
.Project-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.Project-list p {
    margin-bottom: 10px;
    
}
.Project-list button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.Project-list button:first-of-type {
    background-color: green;
}

.Project-list button:last-of-type {
    background-color: red;
    
}
